name: text_speech_flutter
description: Offline-first multilingual TTS app with WAV/MP3 export.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_tts: ^4.2.2
  path_provider: ^2.1.4
  ffmpeg_kit_flutter_min_gpl: ^6.0.3
  intl: ^0.19.0
  share_plus: ^10.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
